	<% if @error %>
		<%@error.each do |i| %>
			<%= i[:mensaje]  %>
		<% end %>
	<% end %>

<form action="/login" method="POST">
	
	<label for="user">Usuario:
		<input type="text" name="usuario">
	</label>

	<label for="user">Contraseña:
		<input type="text" name="password">
	</label>

	<input type="submit" name="Enviar">

</form>