
<form action="/products/new" method="POST">
	<input type="text" name="name">
	<input type="number" name="price">
	<input type="text" name="currency">
	<input type="submit" value="Crear Producto">
</form>

